

.button {


    &__default {
        width: 100px;
        height: 40px;
        background-color: gray;
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        //letter-spacing: 1px;
        text-transform: uppercase;
        border-radius: 6px;
        transition: 0.1s;


        &:hover {
            font-size: 18px;
        }

        &_error {
            background-color: red;
        }
    }

}


