@import "src/styles/variables";
@import "src/styles/mixins";

.packName {
	display: flex;
	flex-direction: column;
	padding: 19px 24px;
	background: $bgWhite;
	border-radius: 8px;

	&__header {
		margin: 0;
	}

	&__title {
		display: flex;

		@include FontPoppins();
		font-style: normal;
		font-size: 22px;
		line-height: 33px;

	}

	&__arrow {
		display: flex;
		align-items: center;
		& img {
			display: flex;
		}
	}

	&__name {
		margin-left: 15px;
		max-width: 500px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}


	&__params {
		margin-top: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__input {

	}

	&__btn {

		& button {
			width: 184px;
			height: 36px;
			background: #21268F;
			box-shadow: 0 4px 18px rgba(33, 38, 143, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
			border-radius: 30px;
			border: none;
			@include FontSanFrancisco();
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			color: #ECECF9;
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
		}
	}

	&__table {
		margin-top: 20px;
	}

	&__pagination {
		margin-top: 20px;
	}

}


