@import "src/styles/variables";
@import "src/styles/mixins";

.packName {
	display: flex;
	flex-direction: column;
	padding: 19px 24px;
	background: $bgWhite;
	border-radius: 8px;

	&__header {

		& h2 {
			margin: 0;
		}
	}

	&__title {
		@include FontPoppins();
		font-style: normal;
		font-size: 22px;
		line-height: 33px;
	}

	&__name {
		margin-left: 15px;
	}


	&__params {
		margin-top: 20px;
	}

	&__table {
		margin-top: 20px;
	}

	&__pagination {
		margin-top: 20px;
	}

}


