@import "src/styles/variables";
@import "src/styles/mixins";

.packName {
	display: flex;
	flex-direction: column;
	padding: 19px 24px;
	background: $bgWhite;
	border-radius: 8px;

	&__header {
		margin: 0;
	}

	&__title {
		display: flex;

		@include FontPoppins();
		font-style: normal;
		font-size: 22px;
		line-height: 33px;

	}

	&__arrow {
		display: flex;
		align-items: center;
		& img {
			display: flex;
		}
	}

	&__name {
		margin-left: 15px;
		max-width: 300px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}


	&__params {
		margin-top: 20px;
	}

	&__table {
		margin-top: 20px;
	}

	&__pagination {
		margin-top: 20px;
	}

}


