
.header {
	position: relative;
	height: 60px;
	/*padding-left: 136px;*/
	padding-left: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #EBE0E9;

	&__logo {
		font-family: 'Poppins', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 26px;
		line-height: 39px;
		color: #2D2E46;
	}

	&__switch {
		width: 346px;
	}
}