.superInput {
    width: 280px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 16px;
    padding-left: 5px;
}

.errorInput {
    border-color: red;
    color: red;
}


.error {
    color: red;
}