@import "src/styles/variables";
@import "src/styles/mixins";

.packsList {
	margin-bottom: 20px;
	 &__block {
		width: 1200px;
		height: auto;
		margin: 0 auto;
		display: flex;
		background: #FEFEFF;
		border-radius: 8px;
	}
}

.sidebar {
	width: 243px;
	height: auto;
	padding: 33px 23px 0;
	background: #ECECF9;

	.title {
		margin-bottom: 20px;
		@include FontSanFrancisco();
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 19px;
		color: $base-color;
	}
}


.main {
	padding: 24px 48px;
	width: 100%;

	&__title {
		margin-bottom: 15px;
		@include FontPoppins();
		font-style: normal;
		font-size: 22px;
		line-height: 33px;
	}

	&__params {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__btn {

		& button {
			width: 184px;
			height: 36px;
			border: none;
			background: #21268F;
			box-shadow: 0 4px 18px rgba(33, 38, 143, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
			border-radius: 30px;

			@include FontSanFrancisco();
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			color: #ECECF9;
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
		}
	}

	&__content {
		margin-top: 24px;
	}

	&__pagination {
		margin-top: 15px;
	}


}