@import "src/styles/variables";
@import "src/styles/mixins";



.logOut {
	height: 60px;
	width: 173px;
	background-color: transparent;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;

	&:active {
		background: #DCCCDB;
		border-bottom: 2px solid #21268F;
	}

	&__img img {
		size: auto;
		width: 35px;
		height: 35px;
		background-color: #2D2E4666;
		border-radius: 50%;
		margin-right: 8px;
	}

	&__element {
		font-family: 'SF UI Display', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.4px;
		color: rgba(45, 45, 70, 0.4);

		&:active {
			color: #2D2E46FF;
		}
	}
}

