@import "src/styles/variables";
@import "src/styles/mixins";

.block {
	display: flex;
	align-items: center;
	height: 100%;
}

.profile {
	width: 413px;
	height: 540px;
	background: $bgWhite;
	border-radius: 8px;

	display: flex;
	flex-direction: column;
	align-items: center;

	&__title {
		@include FontPoppins();
		font-style: normal;
		font-size: 22px;
		line-height: 33px;
		margin-top: 36px;
	}

	&__ava {
		width: 120px;
		height: 120px;
		border: 1px solid red;
		border-radius: 50%;
		margin-top: 25px;
	}

	&__name {
		@include FontPoppins();
		font-style: normal;
		font-size: 24px;
		line-height: 27px;
		margin-top: 40px;
		color: $base-color;
	}

	&__profession {
		@include FontSanFrancisco();
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 17px;
		margin-top: 30px;
		color: $base-color;
		opacity: 0.5;
	}

	&__editBtn {
		width: 124px;
		height: 36px;
		background-color: $bgWhite;
		border: 1px solid #635D80;
		border-radius: 2px;

		margin-top: 45px;

		@include FontSanFrancisco();
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 14px;
		color: $link-color;

		&:hover {
			background-color: #D7D8EF;;
		}
	}

}

