@import "src/styles/variables";
@import "src/styles/mixins";


.label {
	display: flex;
	align-items: center;

	@include FontSanFrancisco();
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #2D2E46;
}

.input {
	margin-right: 25px;
	width: 16px;
	height: 16px;
}